@import "~@angular/material/theming";
@include mat-core();
$primary: mat-palette($mat-deep-orange, 100, 200, 300);
$accent: mat-palette($mat-light-blue, 600, 300, 600);
$warn: mat-palette($mat-blue-grey, 100, 200, 300);
